.channelList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    padding: var(--spacing-5);
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

.channelList h1 {
    text-align: center;
    margin-bottom: var(--spacing-5);
    font-size: var(--font-size-xl);
    font-family: var(--font-family-korean);
}